<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/authors.css}">
    <script th:src="@{/js/authors.js}" defer></script>
</head>

<body>
    <div id="container">

        <section class="card">

            <h1>Author Management</h1>
            <p id="message" hidden></p>

            <form action="" id="author-form">
                <label for="author-id">ID</label>
                <input type="text" id="author-id">

                <div class="forum-group">
                    <label for="author-first-name">
                        First name
                    </label>
                    <input type="text" id="author-first-name" required>
                </div>

                <div class="forum-group">
                    <label for="author-last-name">
                        Last name
                    </label>
                    <input type="text" id="author-last-name" required>
                </div>
                <div class="forum-group">
                    <label for="author-bio">
                        Author Bio
                    </label>
                    <textarea type="text" id="author-bio" rows="5"></textarea>
                </div>
                <div class="forum-actions">
                    <button type="submit" id="save-button">Save Author</button>
                    <button type="button" id="cancel-button" hidden>Cancel</button>
                </div>
            </form>
        </section>

        <section class="card">
            <h2>Authors</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Bio</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="author-table-body">

                </tbody>
            </table>
        </section>

    </div>
</body>

</html>